<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prem.videoapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".VideoApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.view.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen.LoginTheme" />
        <activity
            android:name=".ui.view.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen.SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.DetailActivity"
            android:parentActivityName=".ui.view.HomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" />
    </application>

</manifest>